.entry
  .entry__top
    .entry__top__left-corner
    .entry__top__right-corner

  .entry__detail
    - if @entry.image.present?
      = image_tag @entry.image.url, class: "entry__detail__image"
    - else
      = image_tag "noimage.png", size: "450x450", class: "entry__detail__image"
    .entry__detail__title
      = @entry.title
    .entry__detail__user-name
      = @entry.user.name
    .entry__detail__text
      = @entry.text
    .entry__detail__url
      = @entry.url
      -# = url_to_link(sanitize(@entry.url))
    .entry__detail__tag

  .entry__comments
    .entry__comments__list
      .entry__comments__list__box
        .entry__comments__list__box__text
          行ってみたいですね
        .entry__comments__list__box__user-name
          bbb
        -# - if @comments
        -#   = @comments.each do |comment|
        -#     = comment.text
        -#     = comment.user.name

    .entry__comments__form
      - if current_user
        = form_for "/entries/#{@entry.id}/comments", class: "field", method: :post do |f|
          .field-input
            = f.text_field :comment, placeholder: "コメントをどうぞ", autofocus: true
          .actions
            = f.submit "Send", class: 'btn'

  .entry__bottom
    .entry__bottom__left-corner
    .entry__bottom__right-corner