#account-page.account-page
  .account-page__top
    .account-page__top__left-corner
    .account-page__top__right-corner

  .account-page__inner
    .account-page__inner__header
      %h2 マイページ
    .account-page__inner__form
      = form_for(current_user) do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, maxlength: "50", class: "js-count", autofocus: true
            .counter
              %span.show-count> 0
              \/ 50
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .actions
          = f.submit "Update", class: 'btn'
    = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn'
    = link_to "Home", :back, class: 'btn'

    .account-page__inner__entries
      .account-page__inner__entries__title
        %h2 投稿一覧
      .account-page__inner__entries__tiles
        - @entries.each do |entry|
          = link_to entry_path(entry.id), class: "tile" do
            - if entry.image.present?
              = image_tag entry.image.url, class: "tile__image"
            - else
              .tile__noimage
            .tile__title
              = entry.title
            .tile__user-name
              = entry.user.name
      = paginate(@entries)

  .account-page__bottom
    .account-page__bottom__left-corner
    .account-page__bottom__right-corner