.entries
  .entries__top
    .entries__top__left-corner
    .entries__top__right-corner

  .entries__latest-title
    %h2
      = "#{@user.name}"

  .entries__latest-tiles
    - @entries.each do |entry|
      = link_to "/entries/#{entry.id}", class: "tile" do
        - if entry.image.present?
          = image_tag entry.image.url, class: "tile__image"
        - else
          .tile__noimage
        .tile__title
          = entry.title
        .tile__user-name
          = entry.user.name
  = paginate(@entries)

  .entries__bottom
    .entries__bottom__left-corner
    .entries__bottom__right-corner